table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  .custom-table {
    border-collapse: separate;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
  }
  
  .custom-table th.mat-header-cell,
  .custom-table td.mat-cell {
    padding: 8px 16px;
  }
  
  .custom-table th.mat-header-cell {
    background-color: #f5f5f5;
    font-weight: bold;
  }
  
  .custom-table tr.mat-row:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }
  
  .table-container {
    max-height: 600px; /* Adjust the desired height here */
    overflow-y: auto;
  }