  <mat-card>
    <h2 class="heading">Preview Form Details</h2>

    <mat-card-content>
        <div class="flex-row">
            <span class="fieldName">Exam Name</span>
            <!-- <span>{{ formData.examName }}</span> -->
            <span class="inputBox">Exam 1</span>
        </div>

        <div class="flex-row">
            <span class="fieldName">Name</span>
            <!-- <span>{{ formData.name }}</span> -->
            <span class="inputBox">Prerna Bhandari</span>

        </div>

        <div class="flex-row">
            <span class="fieldName">Email</span>
            <!-- <span>{{ formData.email }}</span> -->
            <span class="inputBox">yashika@gmail.com</span>

        </div>

        <div class="flex-row">
            <span class="fieldName">Father's Name</span>
            <!-- <span>{{ formData.fatherName }}</span> -->
            <span class="inputBox">Rajiv Jha</span>
        </div>

        <div class="flex-row">
            <span class="fieldName">Mother's Name</span>
            <!-- <span>{{ formData.motherName }}</span> -->
            <span class="inputBox">Alka Jha</span>
        </div>

        <div class="flex-row">
            <span class="fieldName">Address</span>
            <!-- <span>{{ formData.address }}</span> -->
            <span class="textareaBox">123 Flat, East-Delhi, 110091</span>
        </div>

        <div class="flex-row">
            <span class="fieldName">Post Applied For</span>
            <!-- <span>{{ formData.postAppliedFor }}</span> -->
            <span class="inputBox">ABC</span>
        </div>

        <div class="flex-row">
            <span class="fieldName">Gender</span>
            <!-- <span>{{ formData.gender }}</span> -->
            <span class="inputBox">Female</span>

        </div>

        <div class="flex-row">
            <span class="fieldName">Date of Birth</span>
            <!-- <span>{{ formData.dob | date }}</span> -->
            <span class="inputBox">12-05-1998</span>
        </div>

        <div class="flex-row">
            <span class="fieldName">10th Certificate</span>
            <span>{{ formData.attachments['10thCertificate'].name }}</span>
        </div>

        <div class="flex-row">
            <span class="fieldName">12th Certificate</span>
            <span>{{ formData.attachments['12thCertificate'].name }}</span>
        </div>

        <div class="flex-row">
            <span class="fieldName">OBC/SC/ST Certificate</span>
            <span>{{ formData.attachments.categoryCertificate.name }}</span>
        </div>

    </mat-card-content>
  </mat-card>
  