<h3 class="heading">Student Registration From for <span>{{examName}}</span></h3>
<form class="example-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" required>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" required>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Father's Name" formControlName="fatherName" required>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Mother's Name" formControlName="motherName" required>
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="Address" formControlName="address" required></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Post Applied For" formControlName="postAppliedFor" required>
    </mat-form-field>
  
      <mat-radio-group formControlName="gender">
        <label>Gender : </label>
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
      </mat-radio-group>
  
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Date of Birth" formControlName="dob" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div>
      <h4>Document Attachments:</h4>
      <div class="mb-4">
        <label for="10thCertificate">10th Certificate</label>
        <input type="file" id="10thCertificate" (change)="onAttachmentChange($event, '10thCertificate')">
      </div>
      <div class="mb-4">
        <label for="12thCertificate">12th Certificate</label>
        <input type="file" id="12thCertificate" (change)="onAttachmentChange($event, '12thCertificate')">
      </div>
      <div class="mb-4">
        <label for="obcCertificate">OBC/SC/ST Certificate</label>
        <input type="file" id="obcCertificate" (change)="onAttachmentChange($event, 'categoryCertificate')">
      </div>
    </div>

    
  
    <button mat-raised-button color="primary" class="m-3" type="submit">Apply</button>
  </form>
  