.step-header {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.step-header li {
  flex: 1;
  text-align: center;
  cursor: pointer;
}

.step-header li span {
  display: block;
  margin-bottom: 5px;
}

.step-header li span.step-circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: #ccc;
  color: #fff;
  font-weight: bold;
}

.step-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
  text-align: center;
  line-height: 20px;
  margin-right: 5px;
  color: white;
}

.step-header li.active .step-circle {
  background-color: blue;
}

.step-header li.completed .step-circle {
  background-color: green;
}
