<div class="form__container">
  <h3 class="heading">Registration Form for Format2<span>{{examName}}</span></h3>

  <orm class="example-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">

    <div class="row-flex">

      <div class="form-element30">
        <label>Name of Applicant</label>
        <mat-form-field appearance="outline" >
          <input matInput placeholder="Name" formControlName="applicantName" required>
        </mat-form-field>
      </div>
  
  
      <div style="width: 30%;">
        <label>Select Your Gender</label>
        <div>
          <mat-form-field style="width: 100%;">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="male">Male</mat-option>
              <mat-option value="female">Female</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

     
      <div class="form-element30">
        <label>Date of Birth</label>
        <mat-form-field appearance="outline">
          <input matInput [matDatepicker]="picker" placeholder="Date of Birth" formControlName="dob" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

 
    </div>

    <div class="row-flex">

      <div class="form-element50">
        <label>Enter Father's Name</label>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Father's Name" formControlName="fatherName" required>
        </mat-form-field>
      </div>
  
      <div class="form-element50">
        <label>Enter Mother's Name</label>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Mother's Name" formControlName="motherName" required>
        </mat-form-field>
      </div>
  
    </div>


    <div class="row-flex">

      <div class="form-element50">
        <label>Enter your Email ID</label>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Email" formControlName="email" required>
        </mat-form-field>
      </div>

      <div class="form-element50">
        <label>Contact No.</label>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Contact Number" type="number" formControlName="contactNo" required>
        </mat-form-field>
      </div>

    </div>


    <div class="row-flex">
      <div class="form-element100">
        <label>Enter Address</label>
        <mat-form-field appearance="outline">
          <textarea matInput placeholder="Address" formControlName="address" required></textarea>
        </mat-form-field>
      </div>
    </div>


    <div class="row-flex">

      <div class="form-element50">
        <label>Select Department</label>
        <mat-form-field appearance="outline" >
          <mat-label>Select Department:</mat-label>
          <select matNativeControl id="department" formControlName="department" required > 
            <option value="">Select Department</option>
            <option value="Oral Medicine & Radiology">Oral Medicine & Radiology</option>
            <option value="Oral & Maxillofacial Surgery">Oral & Maxillofacial Surgery</option>
            <option value="Prosthodontics">Prosthodontics</option>
            <option value="Conservative Dentistry">Conservative Dentistry</option>
            <option value="Orthodontics">Orthodontics</option>
            <option value="Pedodontics">Pedodontics</option>
            <option value="Periodontics">Periodontics</option>
            <option value="Public Health Dentistry">Public Health Dentistry</option>
            <option value="Oral Pathology">Oral Pathology</option>
            <option value="Dental Anatomy">Dental Anatomy</option>
          </select>
        </mat-form-field>
      </div>

      <div class="form-element50">


        <label>Select Category</label>
        <mat-form-field appearance="outline" >
          <mat-label>Category:</mat-label>
          <select matNativeControl id="category" formControlName="category" required>
            <option value="">Select Category</option>
            <option value="Un-reserved">Un-reserved</option>
            <option value="Scheduled Caste">Scheduled Caste</option>
            <option value="Scheduled Tribe">Scheduled Tribe</option>
            <option value="Other Backward Class">Other Backward Class</option>
            <option value="Economically Weaker Section">Economically Weaker Section</option>
          </select>
        </mat-form-field>



      
      </div>

    </div>

    <div *ngIf="formGroup.get('category')?.value !== 'Un-reserved'">


      <div class="row-flex">

        <div class="form-element50">


      <mat-form-field class="form-group">
        <mat-label>Name of the state from where the category certificate has been issued:</mat-label>
        <select matNativeControl id="state" formControlName="state">
          <option value="">Select State</option>
        </select>
      </mat-form-field>

      </div>

      <div class="form-element50">


      <mat-form-field class="form-group">
        <mat-label>Name/Designation of the Issuing authority:</mat-label>
        <input matInput type="text" id="issuingAuthority" formControlName="issuingAuthority">
      </mat-form-field>

      </div>
        </div>

        <div class="row-flex">

          <div class="form-element50">

          <mat-form-field class="form-group">
            <mat-label>Registration No. and Date of Category Certificate:</mat-label>
            <input matInput type="text" id="registrationNo" formControlName="registrationNo">
          </mat-form-field>
          </div>

          <div class="form-element50">
        <div class="form-group">
          <label>Whether belongs to PwD category:</label>
          <div class="form-check">
            <mat-radio-group formControlName="pwdCategory">
              <mat-radio-button value="Yes">Yes</mat-radio-button>
              <mat-radio-button value="No">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        </div>

      </div>
        </div>


        <!-- <div>
          <h4>Degrees:</h4>
          <table mat-table [dataSource]="degrees.controls" class="mat-elevation-z8">
            <ng-container *ngFor="let column of degreeColumns; let i = index" [matColumnDef]="column">
              <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
              <td mat-cell *matCellDef="let control">
                <mat-form-field>
                  <input matInput [formControl]="control.get(column)" required>
                </mat-form-field>
              </td>
            </ng-container>
        
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let control; let i = index">
                <button mat-icon-button color="warn" (click)="removeDegree(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
        
            <ng-container matColumnDef="blankRow">
              <td mat-cell *matCellDef="let control; let i = index" [colSpan]="degreeColumns.length + 1" class="blank-row-cell">
                <button mat-raised-button color="primary" (click)="addBlankRow()">Add Data</button>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="degreeColumns"></tr>
            <tr mat-row *matRowDef="let control; columns: degreeColumns"></tr>
            <tr mat-row *matRowDef="let control; columns: ['blankRow']" class="blank-row"></tr>
            <tr mat-footer-row *matFooterRowDef="['delete']"></tr>
          </table>
        </div> -->
        
        
        
        



      <div class="documentsDiv mt-4">
        <h4>Document Attachments:</h4>
        <div class="docsUploadDiv">
          <div class="mb-4">
            <label for="AgeProof">Age Proof</label>
            <input type="file" id="AgeProof" (change)="onAttachmentChange($event, 'AgeProof')">
            <div *ngIf="formGroup.get('attachments.AgeProof')?.value">Selected file: {{ formGroup.get('attachments.AgeProof')?.value.name }}</div>
          </div>
          <div class="mb-4">
            <label for="categoryCertificate">Category Certificate</label>
            <input type="file" id="categoryCertificate" (change)="onAttachmentChange($event, 'categoryCertificate')">
            <div *ngIf="formGroup.get('attachments.categoryCertificate')?.value">Selected file: {{ formGroup.get('attachments.categoryCertificate')?.value.name }}</div>
          </div>
          <div class="mb-4">
            <label for="BDS_Degree_with_all_marksheets">BDS Degree with all marksheets</label>
            <input type="file" id="BDS_Degree_with_all_marksheets" (change)="onAttachmentChange($event, 'BDS_Degree_with_all_marksheets')">
            <div *ngIf="formGroup.get('attachments.BDS_Degree_with_all_marksheets')?.value">Selected file: {{ formGroup.get('attachments.BDS_Degree_with_all_marksheets')?.value.name }}</div>
          </div>
          <div class="mb-4">
            <label for="Internship_Completion_Certificate">Internship Completion Certificate</label>
            <input type="file" id="Internship_Completion_Certificate" (change)="onAttachmentChange($event, 'Internship_Completion_Certificate')">
            <div *ngIf="formGroup.get('attachments.Internship_Completion_Certificate')?.value">Selected file: {{ formGroup.get('attachments.Internship_Completion_Certificate')?.value.name }}</div>
          </div>
          <div class="mb-4">
            <label for="MDS_Degree_or_Provisional_Certificate">MDS Degree / Provisional Certificate</label>
            <input type="file" id="MDS_Degree_or_Provisional_Certificate" (change)="onAttachmentChange($event, 'MDS_Degree_or_Provisional_Certificate')">
            <div *ngIf="formGroup.get('attachments.MDS_Degree_or_Provisional_Certificate')?.value">Selected file: {{ formGroup.get('attachments.MDS_Degree_or_Provisional_Certificate')?.value.name }}</div>
          </div>
          <div class="mb-4">
            <label for="Valid_State_Dental_Council_Reg_Certificate">Valid State Dental Council Registration Certificate</label>
            <input type="file" id="Valid_State_Dental_Council_Reg_Certificate" (change)="onAttachmentChange($event, 'Valid_State_Dental_Council_Reg_Certificate')">
            <div *ngIf="formGroup.get('attachments.Valid_State_Dental_Council_Reg_Certificate')?.value">Selected file: {{ formGroup.get('attachments.Valid_State_Dental_Council_Reg_Certificate')?.value.name }}</div>
          </div>
          <div class="mb-4">
            <label for="Experience_Certificate">Experience Certificate (if any)</label>
            <input type="file" id="Experience_Certificate" (change)="onAttachmentChange($event, 'Experience_Certificate')">
            <div *ngIf="formGroup.get('attachments.Experience_Certificate')?.value">Selected file: {{ formGroup.get('attachments.Experience_Certificate')?.value.name }}</div>
          </div>
          <div class="mb-4">
            <label for="PassportSizePhoto">Passport Size Photo</label>
            <input type="file" id="PassportSizePhoto" (change)="onAttachmentChange($event, 'PassportSizePhoto')">
            <div *ngIf="formGroup.get('attachments.PassportSizePhoto')?.value">Selected file: {{ formGroup.get('attachments.PassportSizePhoto')?.value.name }}</div>
          </div>
          <div class="mb-4">
            <label for="Signature_of_candidate">Signature of candidate</label>
            <input type="file" id="Signature_of_candidate" (change)="onAttachmentChange($event, 'Signature_of_candidate')">
            <div *ngIf="formGroup.get('attachments.Signature_of_candidate')?.value">Selected file: {{ formGroup.get('attachments.Signature_of_candidate')?.value.name }}</div>
          </div>
        </div>
       
      </div>


     
<div style="text-align: center;">
  <button mat-raised-button color="primary" class="m-3" type="submit">Save Form Details</button>

</div>


  </orm>

</div>



<!-- <div class="form-container">
  <h3 class="heading">Application Form for </h3>
  <form class="example-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-group">
      <mat-label>Select Department:</mat-label>
      <select matNativeControl id="department" formControlName="department" required>
        <option value="">Select Department</option>
        <option value="Oral Medicine & Radiology">Oral Medicine & Radiology</option>
        <option value="Oral & Maxillofacial Surgery">Oral & Maxillofacial Surgery</option>
        <option value="Prosthodontics">Prosthodontics</option>
        <option value="Conservative Dentistry">Conservative Dentistry</option>
        <option value="Orthodontics">Orthodontics</option>
        <option value="Pedodontics">Pedodontics</option>
        <option value="Periodontics">Periodontics</option>
        <option value="Public Health Dentistry">Public Health Dentistry</option>
        <option value="Oral Pathology">Oral Pathology</option>
        <option value="Dental Anatomy">Dental Anatomy</option>
      </select>
    </mat-form-field>

    

    

  

    <mat-form-field class="form-group">
      <mat-label>Category:</mat-label>
      <select matNativeControl id="category" formControlName="category" required>
        <option value="">Select Category</option>
        <option value="Un-reserved">Un-reserved</option>
        <option value="Scheduled Caste">Scheduled Caste</option>
        <option value="Scheduled Tribe">Scheduled Tribe</option>
        <option value="Other Backward Class">Other Backward Class</option>
        <option value="Economically Weaker Section">Economically Weaker Section</option>
      </select>
    </mat-form-field>




  
 

   


    <div>
      <h4>Document Attachments:</h4>
      <div class="mb-4">
        <label for="AgeProof">Age Proof</label>
        <input type="file" id="AgeProof" (change)="onAttachmentChange($event, 'AgeProof')">
        <div *ngIf="formGroup.get('attachments.AgeProof')?.value">Selected file: {{ formGroup.get('attachments.AgeProof')?.value.name }}</div>
      </div>
      <div class="mb-4">
        <label for="categoryCertificate">Category Certificate</label>
        <input type="file" id="categoryCertificate" (change)="onAttachmentChange($event, 'categoryCertificate')">
        <div *ngIf="formGroup.get('attachments.categoryCertificate')?.value">Selected file: {{ formGroup.get('attachments.categoryCertificate')?.value.name }}</div>
      </div>
      <div class="mb-4">
        <label for="BDS_Degree_with_all_marksheets">BDS Degree with all marksheets</label>
        <input type="file" id="BDS_Degree_with_all_marksheets" (change)="onAttachmentChange($event, 'BDS_Degree_with_all_marksheets')">
        <div *ngIf="formGroup.get('attachments.BDS_Degree_with_all_marksheets')?.value">Selected file: {{ formGroup.get('attachments.BDS_Degree_with_all_marksheets')?.value.name }}</div>
      </div>
      <div class="mb-4">
        <label for="Internship_Completion_Certificate">Internship Completion Certificate</label>
        <input type="file" id="Internship_Completion_Certificate" (change)="onAttachmentChange($event, 'Internship_Completion_Certificate')">
        <div *ngIf="formGroup.get('attachments.Internship_Completion_Certificate')?.value">Selected file: {{ formGroup.get('attachments.Internship_Completion_Certificate')?.value.name }}</div>
      </div>
      <div class="mb-4">
        <label for="MDS_Degree_or_Provisional_Certificate">MDS Degree / Provisional Certificate</label>
        <input type="file" id="MDS_Degree_or_Provisional_Certificate" (change)="onAttachmentChange($event, 'MDS_Degree_or_Provisional_Certificate')">
        <div *ngIf="formGroup.get('attachments.MDS_Degree_or_Provisional_Certificate')?.value">Selected file: {{ formGroup.get('attachments.MDS_Degree_or_Provisional_Certificate')?.value.name }}</div>
      </div>
      <div class="mb-4">
        <label for="Valid_State_Dental_Council_Reg_Certificate">Valid State Dental Council Registration Certificate</label>
        <input type="file" id="Valid_State_Dental_Council_Reg_Certificate" (change)="onAttachmentChange($event, 'Valid_State_Dental_Council_Reg_Certificate')">
        <div *ngIf="formGroup.get('attachments.Valid_State_Dental_Council_Reg_Certificate')?.value">Selected file: {{ formGroup.get('attachments.Valid_State_Dental_Council_Reg_Certificate')?.value.name }}</div>
      </div>
      <div class="mb-4">
        <label for="Experience_Certificate">Experience Certificate (if any)</label>
        <input type="file" id="Experience_Certificate" (change)="onAttachmentChange($event, 'Experience_Certificate')">
        <div *ngIf="formGroup.get('attachments.Experience_Certificate')?.value">Selected file: {{ formGroup.get('attachments.Experience_Certificate')?.value.name }}</div>
      </div>
      <div class="mb-4">
        <label for="PassportSizePhoto">Passport Size Photo</label>
        <input type="file" id="PassportSizePhoto" (change)="onAttachmentChange($event, 'PassportSizePhoto')">
        <div *ngIf="formGroup.get('attachments.PassportSizePhoto')?.value">Selected file: {{ formGroup.get('attachments.PassportSizePhoto')?.value.name }}</div>
      </div>
      <div class="mb-4">
        <label for="Signature_of_candidate">Signature of candidate</label>
        <input type="file" id="Signature_of_candidate" (change)="onAttachmentChange($event, 'Signature_of_candidate')">
        <div *ngIf="formGroup.get('attachments.Signature_of_candidate')?.value">Selected file: {{ formGroup.get('attachments.Signature_of_candidate')?.value.name }}</div>
      </div>
     
    </div>

    <div>
      <h4>Degrees:</h4>
      <table mat-table [dataSource]="degrees.controls" class="mat-elevation-z8">
        <ng-container matColumnDef="degree">
          <th mat-header-cell *matHeaderCellDef>Degree</th>
          <td mat-cell *matCellDef="let control">
            <mat-form-field>
              <input matInput [formControl]="control.get('name')" required>
            </mat-form-field>
          </td>
        </ng-container>
      
        <ng-container matColumnDef="university">
          <th mat-header-cell *matHeaderCellDef>Name of University/Institution</th>
          <td mat-cell *matCellDef="let control">
            <mat-form-field>
              <input matInput [formControl]="control.get('university')" required>
            </mat-form-field>
          </td>
        </ng-container>
      
        <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef>Year of passing Examination</th>
          <td mat-cell *matCellDef="let control">
            <mat-form-field>
              <input matInput [formControl]="control.get('year')" required>
            </mat-form-field>
          </td>
        </ng-container>
      
        <ng-container matColumnDef="marksObtained">
          <th mat-header-cell *matHeaderCellDef>Marks Obtained</th>
          <td mat-cell *matCellDef="let control">
            <mat-form-field>
              <input matInput [formControl]="control.get('marksObtained')" required>
            </mat-form-field>
          </td>
        </ng-container>
      
        <ng-container matColumnDef="totalMarks">
          <th mat-header-cell *matHeaderCellDef>Total Marks</th>
          <td mat-cell *matCellDef="let control">
            <mat-form-field>
              <input matInput [formControl]="control.get('totalMarks')" required>
            </mat-form-field>
          </td>
        </ng-container>
      
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let control; let i = index">
            <button mat-icon-button color="warn" (click)="removeDegree(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="degreeColumns"></tr>
        <tr mat-row *matRowDef="let control; columns: degreeColumns"></tr>
      </table>
      
      <button mat-raised-button color="primary" (click)="addDegree()">Add Degree</button>
    </div>


    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div> -->
