/* .heading {
    font-size: 24px;
    font-weight: 500;
    margin: 20px;
  }

  .heading span {
    font-style: italic;
  }

  mat-form-field,
  mat-radio-group,
  input,
  mat-radio-button {
    width: 100%;
    margin-top: 10px;
  }

  form {
    padding: 30px;
    margin: 40px;
    border: 1px dotted lightgray;
    border-radius: 10px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .form-container {
    background-color: white;
    padding: 20px;
    margin: 20px;
  }

  .form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .form-row label {
    width: 50%;
    text-align: left;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 500;
  }

  .form-row mat-form-field {
    width: 50%;
  }

  .documentsDiv{
    display: flex;
  }

  .documentsDiv h4{
    width: 50%;
    font-size: 16px;
    font-weight: 500;
  }


  .form-row mat-form-field:hover {
    border-color: darkgray;
  }

  .form-row mat-form-field.mat-focused {
    border-color: dodgerblue;
  }

  mat-form-field input{
    padding-bottom: 6px;
    padding-left: 5px;
  }
   */


   .form__container{
    margin: 30px;
    /* background: rgb(245, 244, 242); */
    padding: 20px;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
    border: 2px solid burlywood;
    background-color: white;
   }

   .form-element30{
    display: flex;
    flex-direction: column;
    width: 30%;
   }

   .form-element50{
    display: flex;
    flex-direction: column;
    width: 48%;
   }


   .form-element100{
    display: flex;
    flex-direction: column;
    width: 100%;
   }


   .row-flex{
    display: flex;
    justify-content: space-between;
   }

   .documentsDiv{
    display: flex;
  }

  .documentsDiv h4{
    width: 50%;
    font-size: 16px;
    font-weight: 500;
  }

  .heading{
    font-weight: 500;
    font-size: 19px;
    text-align: center;
    margin-bottom: 28px;
  }